<section group='banner' data-controller='splide'>
  <div class="splide" id='splide' data-splide-target='container'>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="slide__content">
            <img data-splide-lazy="https://picsum.photos/id/237/2048/1024">
            <div class='slide__discription bottom-left'>
              <div>
                <div class='slide__discription_content'>
                  Dogs (Canis lupus familiaris) are domesticated mammals, not natural wild animals.
                  They were originally bred from wolves. They have been bred by humans for a long time,
                  and were the first animals ever to be domesticated. There are different studies that
                  suggest that this happened between 15.000 and 100.000 years before our time. The dingo
                  is also a dog, but many dingos have become wild animals again and live independently of
                  humans in the range where they occur (parts of Australia).
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="slide__content">
            <img data-splide-lazy="https://picsum.photos/id/238/2048/1024">
          <div class='slide__discription top-right'>
              <div>
                <div class='slide__discription_content'>
                 A city is a large human settlement.It can be defined as a permanent and densely settled
                 place with administratively defined boundaries whose members work primarily on non-agricultural tasks.
                 Cities generally have extensive systems for housing, transportation, sanitation, utilities,
                 land use, production of goods, and communication.
                </div>
              </div>
            </div>
            </div>
          </li>
        <li class="splide__slide">
          <div class="slide__content">
            <img data-splide-lazy="https://picsum.photos/id/239/2048/1024">
          <div class='slide__discription bottom-right'>
              <div>
                <div class='slide__discription_content'>
                  A dandelion is a flower. Its scientific name is Taraxacum, a large genus of flowering
                  plants in the family Asteraceae. Taraxacum are native to Eurasia, and have been widely
                  introduced to North and South America and other continents. They are an invasive species 
                  in some areas.Two species, T. officinale and T. erythrospermum, are found as weeds worldwide.
                  All parts of both species are edible.
                </div>
              </div>
            </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>