<section group='banner' data-controller='splide'>
  <div class="splide" id='splide' data-splide-target='container'>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="slide__content">
            <img data-splide-lazy="https://picsum.photos/id/237/2048/1024">
          </div>
        </li>
        <li class="splide__slide">
          <div class="slide__content">
            <img data-splide-lazy="https://picsum.photos/id/238/2048/1024">
          </div>
          </li>
        <li class="splide__slide">
          <div class="slide__content">
            <img data-splide-lazy="https://picsum.photos/id/239/2048/1024">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>