.auth {
    background: #c2c2c2;
    &.login {
        h2 {
            height: 60px;
        }
    }
    &.auth-center {
        height: 340px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -170px !important;
        margin-left: -25% !important;
    }
}