<div class='auth login w-50 p-3 m-auto auth-center'>
<h2 class='text-center border-bottom'><%= t('registrations.tite')%></h2>

<div class='row'>
  <div class='col-sm-6'>
      <%= render 'users/registrations/form'%>
</div>
<div class='col-sm-6'></div>
</div>
</div>
